[Unit]
Description=Paradar main process

[Service]
Type=simple
ExecStart=/opt/paradar/bin/python3 -u /opt/paradar/paradar/paradar.py
WorkingDirectory=/opt/paradar
Restart=always
StandardInput=null
StandardOutput=journal
StandardError=journal
SyslogIdentifier=paradar


[Install]
WantedBy=basic.target
